# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

# Node.js
node_modules/

# Bower
bower_components/

# Sass
.sass-cache/

# Gulp
.tmp/
dist/
